ul{
    display: flex;
    list-style: none;
    gap:30%;
}
 #btn{
    padding: 10px;
    /* text-align: center; */
    margin-left: 40%;
}
#flip{
    font-size: 50px;
    text-align: center;
    padding-right: 25%;
    
}
.nav-center{
    padding-left: 10%;
}
#col{
    text-align: center;
    font-size: 40px;

}